version: "3.9"

services:

  backenddjango:
    build: ./backenddjango
    ports:
      - "8000:8000"
    volumes:
      - ./backenddjango:/backenddjango
    environment:

      CONNECTION_URL: ${CONNECTION_URL}
      PROD_CONNECTION_URL: ${PROD_CONNECTION_URL}
      FRONTEND_URL: "https://3000-$(GITPOD_WORKSPACE_ID).$(GITPOD_WORKSPACE_CLUSTER_HOST)"
      BACKEND_URL: "https://8000-$(GITPOD_WORKSPACE_ID).$(GITPOD_WORKSPACE_CLUSTER_HOST)"
      #AWS_XRAY_DAEMON_ADDRESS: xray-daemon:2000
    networks:
      - internal_network
    depends_on:
      #- xray-daemon
      - db

  frontend-react-js:
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    build: ./frontend-react-js
    ports:
      - "3000:3000"
    volumes:
      - ./frontend-react-js:/frontend-react-js
    environment:
      REACT_APP_BACKEND_URL: "https://8000-$(GITPOD_WORKSPACE_ID).$(GITPOD_WORKSPACE_CLUSTER_HOST)"
      REACT_APP_AWS_COGNITO_REGION: "eu-west-2"
      REACT_APP_AWS_USER_POOLS_ID: "eu-west-2_JFG4zlW8J"
      REACT_APP_CLIENT_ID: "7kjrn8g78glhtdh15skjlcp5d5"
    networks:
      - internal_network

  dynamodb-local:
    user: root
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "8001:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
  db:
    image: postgres:13-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - '5432:5432'
    volumes:
      - db:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - internal_network

  #xray-daemon:
  #  image: amazon/aws-xray-daemon
  #  ports:
  #    - "2000:2000/udp"
  ##  command: >
  #    /usr/bin/xray -r eu-west-2
  #  environment:
  #    - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
  #    - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
  #    - AWS_REGION=eu-west-2
  #  networks:
  #    - internal_network

networks:
  internal_network:
    driver: bridge
    name: ThinkSpace

volumes:
  db:
    driver: local