version: "3.9"

services:
  backenddjango:
    build: ./backenddjango
    ports:
      - "8000:8000"
    volumes:
      - ./backenddjango:/backenddjango
    environment:
      FRONTEND_URL: "https://3001-$(GITPOD_WORKSPACE_ID).$(GITPOD_WORKSPACE_CLUSTER_HOST)"
      BACKEND_URL: "https://8000-$(GITPOD_WORKSPACE_ID).$(GITPOD_WORKSPACE_CLUSTER_HOST)"
    networks:
      - internal_network

  frontend-react-js:
    build: ./frontend-react-js
    ports:
      - "3000:3000"
    volumes:
      - ./frontend-react-js:/frontend-react-js
    environment:
      REACT_APP_BACKEND_URL: "https://4567-$(GITPOD_WORKSPACE_ID).$(GITPOD_WORKSPACE_CLUSTER_HOST)"
    networks:
      - internal_network

networks:
  internal_network:
    driver: bridge
    name: ThinkSpace